absl-pyg
adafruit-circuitpython-busdeviceg
adafruit-circuitpython-dotstarg
adafruit-circuitpython-fxas21002cg
adafruit-circuitpython-fxos8700g
fake_rpig
google-cloud-storageg
gpsg
grpciog
LabJackPythong
mlx9064x-driverg
mockg
protobufg
psycopg2g
pygattg
pylintg
python-geohashg
pytypeg
PyYAMLg
RPi.GPIOg
seaborng
sdnotifyg
smbus2g
testing.postgresqlg

# scipy deps
Cython
matplotlib
ipython
pandas

# sckkit-learn deps first.
numpy
# Finally scipy & scikit.
scipy
scikit-learn
