Adafruit-Blinka==8.1.0
Adafruit-PlatformDetect==3.26.0
LabJackPython==2.0.0
Pillow==10.2.0
PyYAML==5.4
RPi.GPIO==0.7.0
absl-py==1.1.0
adafruit-circuitpython-busdevice==4.3.1
adafruit-circuitpython-dotstar==2.0.0
adafruit-circuitpython-fxas21002c==2.1.5
adafruit-circuitpython-fxos8700==2.1.4
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.0.0
fake_rpi==0.7.1
funcy==1.17
gps==3.19
grafanalib==0.6.1
grpcio==1.53.2
libcst==0.3.23  # For pytype, new version relies on rust which doesn't compile.
mlx9064x-driver==1.3.0
mock==4.0.2
parameterized==0.7.0
plotly==5.4.0
protobuf==3.20.2
psycopg2==2.9.3
pygatt==4.0.5
pylint==2.6.0
python-dateutil==2.7.3
python-geohash==0.8.5
pytype
pytz==2022.1
sdnotify==0.3.2
smbus2==0.4.1
testing.postgresql==1.3.0
werkzeug==3.0.1

# Finally scikit.
scikit-learn==0.20.2
