Adafruit-Blinka
Adafruit-PlatformDetect
LabJackPython
Pillow
PyYAML
RPi.GPIO
absl-py
adafruit-circuitpython-busdevice
adafruit-circuitpython-dotstar
adafruit-circuitpython-fxas21002c
adafruit-circuitpython-fxos8700
dash
dash-core-components
dash-html-components
dash-table
fake_rpi
funcy
gps
grafanalib
grpcio
mlx9064x-driver
mock
parameterized
plotly
protobuf
psycopg2
pygatt
pylint
python-dateutil
python-geohash
pytype
pytz
scikit-learn
sdnotify
smbus2
testing.postgresql
werkzeug
