# Enable by running:
# cd ~/.config/systemd/user
# ln -s /home/pi/git/exit_speed/etc/exit_speed_live.service
# systemctl --user enable exit_speed_live.service
# systemctl --user start exit_speed_live.service
# systemctl --user status exit_speed_live.service
[Unit]
Description=ExitSpeedDashboard

[Service]
Type=simple
ExecStart=/bin/bash -c 'cd /home/pi/git/exit_speed && /usr/bin/nice /usr/bin/python3 -m exit_speed.dashboard.live'
Restart=always
RestartSec=3

[Install]
WantedBy=default.target
