[Unit]
Description=ExitSpeed

[Service]
Type=notify
ExecStart=/home/pi/git/exit_speed/exit_speed.py --config_path /home/pi/git/exit_speed/etc/config.yaml
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
