# Enable by running:
# cd ~/.config/systemd/user
# ln -s /home/pi/git/exit_speed/etc/exit_speed.service
# systemctl --user enable exit_speed.service
# systemctl --user start exit_speed.service
# systemctl --user status exit_speed.service
[Unit]
Description=ExitSpeed

[Service]
Type=notify
ExecStart=/bin/bash -c 'cd /home/pi/git/exit_speed && /usr/bin/python3 -m exit_speed.main --config_path /home/pi/git/exit_speed/etc/corrado.yaml'
Restart=always
RestartSec=3
WatchdogSec=30

[Install]
WantedBy=default.target
